

    @font-face {
  font-family: 'Satoshi-Light';
    src: url('../fonts/Satoshi-Light.woff2') format('woff2'),
       url('../fonts/Satoshi-Light.woff') format('woff'),
       url('../fonts/Satoshi-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}
    @font-face {
  font-family: 'Satoshi-LightItalic';
    src: url('../fonts/Satoshi-LightItalic.woff2') format('woff2'),
       url('../fonts/Satoshi-LightItalic.woff') format('woff'),
       url('../fonts/Satoshi-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}
    @font-face {
  font-family: 'Satoshi-Regular';
    src: url('../fonts/Satoshi-Regular.woff2') format('woff2'),
       url('../fonts/Satoshi-Regular.woff') format('woff'),
       url('../fonts/Satoshi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
    @font-face {
  font-family: 'Satoshi-Italic';
    src: url('../fonts/Satoshi-Italic.woff2') format('woff2'),
       url('../fonts/Satoshi-Italic.woff') format('woff'),
       url('../fonts/Satoshi-Italic.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}
    @font-face {
  font-family: 'Satoshi-Medium';
    src: url('../fonts/Satoshi-Medium.woff2') format('woff2'),
       url('../fonts/Satoshi-Medium.woff') format('woff'),
       url('../fonts/Satoshi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
    @font-face {
  font-family: 'Satoshi-MediumItalic';
    src: url('../fonts/Satoshi-MediumItalic.woff2') format('woff2'),
       url('../fonts/Satoshi-MediumItalic.woff') format('woff'),
       url('../fonts/Satoshi-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}
    @font-face {
  font-family: 'Satoshi-Bold';
    src: url('../fonts/Satoshi-Bold.woff2') format('woff2'),
       url('../fonts/Satoshi-Bold.woff') format('woff'),
       url('../fonts/Satoshi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
    @font-face {
  font-family: 'Satoshi-BoldItalic';
    src: url('../fonts/Satoshi-BoldItalic.woff2') format('woff2'),
       url('../fonts/Satoshi-BoldItalic.woff') format('woff'),
       url('../fonts/Satoshi-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}
    @font-face {
  font-family: 'Satoshi-Black';
    src: url('../fonts/Satoshi-Black.woff2') format('woff2'),
       url('../fonts/Satoshi-Black.woff') format('woff'),
       url('../fonts/Satoshi-Black.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}
    @font-face {
  font-family: 'Satoshi-BlackItalic';
    src: url('../fonts/Satoshi-BlackItalic.woff2') format('woff2'),
       url('../fonts/Satoshi-BlackItalic.woff') format('woff'),
       url('../fonts/Satoshi-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: italic;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 900.0;
*
* available axes:
'wght' (range from 300.0 to 900.0
*/
    @font-face {
  font-family: 'Satoshi-Variable';
    src: url('../fonts/Satoshi-Variable.woff2') format('woff2'),
       url('../fonts/Satoshi-Variable.woff') format('woff'),
       url('../fonts/Satoshi-Variable.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 900.0;
*
* available axes:
'wght' (range from 300.0 to 900.0
*/
    @font-face {
  font-family: 'Satoshi-VariableItalic';
    src: url('../fonts/Satoshi-VariableItalic.woff2') format('woff2'),
       url('../fonts/Satoshi-VariableItalic.woff') format('woff'),
       url('../fonts/Satoshi-VariableItalic.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: italic;
}
    @font-face {
    font-family: 'Claston';
    src: url('Claston-Regular.woff2') format('woff2'),
        url('Claston-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:
    root {
    --yellow: #FFB646;
    --white: #fff;

}
    h1,h2,h3,h4,h5{
    font-family: 'Claston';
    color: #513369;
}
.white{
    color: #fff;
}
    b{
    font-family: 'Satoshi-Bold';
}
    body{
    font-family: 'Satoshi-Regular';
    color: #535252;
}
    header{
    background: #fff;
    padding: 0;
}
    header .logo{
    max-width: 171px;
    padding: .3rem;
    margin-left: 1rem;
}
    header .login a{
    padding: .5rem;
    display: inline-block;
    background: #2D082E;
}
    header .login img{
    width: 100%;
    max-width: 36px;
}
.fa-arrow-up{
    rotate: 45deg;
    color: #000;
    position: absolute;
    top: 10px;
    right: 10px;
}
.fa-play{
    color: #FFB646;
    position: absolute;
    top: 15px;
    right: 20px;
}
.btn-outline-dark .fa-arrow-up{
    color: #fff;
}
.mt-16{
    margin-top: 4rem;
    font-size: 1.3rem;
}
.home-1{
    background-color: #2D082E;
    padding-top: 6rem;
    /* padding-bottom: 6rem; */
    background-image: url(../img/back-home-test.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100%;
    background-position-y: 50%;
}
.home-1
    a{
    font-family: 'Satoshi-Regular';
    border-radius: 15px;
    padding-top: 15px;
    position: relative;
    padding-bottom: 15px;
    border: 0px;
    display: block;
    line-height: 1;
    text-align: left;
    min-width: 200px;
}
.home-1
    a.btn-dark{
    color: #513369;
    font-weight: 100;
}
.home-1
    a.btn-dark p{
    color: #8562A0;
    font-size: .9rem;
}

.home-1
    a.btn-outline-dark{
    color: #fff;
    font-weight: 100;
}

.home-1
    a.btn-outline-dark p{
    color: #FFB646;
    font-size: .9rem;
}
.home-1
    h1{
    font-size: 4rem;
}
.home-1
    p span.yellow{
    font-size: 1.1rem;
}
.home-1 .col-lg-6
    p{
    margin-top: -17%;
}
.line{
    position: relative;
    padding-left: 80px;
}
.line::
    before{
    content: '';
    width: 75px;
    position: absolute;
    border-bottom: 1px solid #535252;
    left: 0;
    top: calc(50% - 1px);
}
.home-2 .col-md-6{
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
    a:hover{
    text-decoration: none;
}
.home-2 .col-md-6
    a{
    display: block;
    color: #000000;
    text-align: center;
    font-family: 'Claston';
    transition: all .3s;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2.5rem;
}
.home-2 .col-md-6:
    first-child a{
    border-bottom: 10px solid #ebe9f2;
}
.home-2 .col-md-6:nth-child(2)
    a{
    border-bottom: 10px solid #707070;
}
.home-2 .col-md-6
    a:hover{
    border-color: #000000;
}
.home-2 .col-12{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.home-2 .col-12
    h2{
    font-size: 3rem;
}

.home-3{
    background: #ebe9f2;
    padding: 3rem;
}
.home-3
    h2{
    font-size: 3rem;
}
.home-3
    p{
    font-size: .9rem;
}
.home-3
    h3 span{
    color: #ffb646;
}
.element-box{
    background: #F5F5F5;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.home-3 .row .col-lg-4:
    first-child .element-box{
    background-image: url(../img/dots1.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}
.home-3 .row .col-lg-4:nth-child(2) .element-box{
    background-image: url(../img/dots2.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}
.home-3 .row .col-lg-4:
    last-child .element-box{
    background-image: url(../img/dots3.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}
.home-4 .col-lg-4{
    background: #f5f5f5;
}
    a.link-arrow{
    display: block;
    text-align: right;
    line-height: 1;
    color: #535252;
}
.home-4
    h3 span{
    color: #FFB646;
}
.home-4{
    background: #2D082E;
    background-image: url(../img/vector-videos.svg);
    background-position-x: 100%;
    /* background-position-y: -100%; */
    background-size: contain;
    padding-top: 3rem;
    /* background-position: right; */
    padding-bottom: 3rem;
    background-repeat: no-repeat;
}
.home-4
    p, .home-4 h2{
    color: #fff;
}
.box-video{
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 255px;
}
.box-video .time{
    font-family: 'Satoshi-Bold';
    font-size: 1.1rem;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
}
.box-video
    p{
    font-family: 'Satoshi-Bold';
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    color: #fff;
    padding-top: 10px;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    background: rgba(0,0,0,.5);
}
.box-video
    p i{
    color: #FFB646;
}
    span.yellow{
    color: #FFB646;
}
    span.morado{
    color: #513369;
}
.home-5{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.home-6{
    background: #F5F5F5;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.home-6
    a{
    background: #fff;
    display: block;
    position: relative;
    margin-bottom: 1rem;
    width: 400px;
    border-radius: 10px;
    transition: all .3s;
    padding-top: 15px;
    position: relative;
    padding-bottom: 15px;
    line-height: 1;
    padding-left: 30px;
    padding-right: 30px;
    color: #2D082E;
}

.home-6
    a i{
    color: #2D082E;
    position: absolute;
    right: 15px;
    text-align: right;
    rotate: 90deg;
}
.home-6
    a:hover{
    background: #e2dde1;
    color: #513369;
    font-family: 'Satoshi-Bold';
    border-left: 12px solid;
}
.home-6
    a:hover i{}
.home-6
    a.active{
    background: #e2dde1;
    color: #513369;
    font-family: 'Satoshi-Bold';
    border-left: 12px solid;
    transition: all .3s;
}
.home-6
    a.active i{}


.home-7{
    background: #2d082e;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.home-7
    p{
    color: #fff}

.home-8{
    background: #F5F5F5;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.home-8
    a{
    background: #fff;
    display: block;
    position: relative;
    margin-bottom: 1rem;
    width: 400px;
    border-radius: 10px;
    transition: all .3s;
    padding-top: 15px;
    position: relative;
    padding-bottom: 15px;
    line-height: 1;
    padding-left: 15px;
    padding-right: 15px;
    color: #2D082E;
}

.home-8
    a i{
    color: #2D082E;
    position: absolute;
    right: 15px;
    text-align: right;
}
.home-8
    a:hover{
    background: #2D082E;
    color: #fff;
}
.home-8
    a:hover i{
    color: #fff;
}
.home-8
    a.active{
    background: #2D082E;
    color: #fff;
}
.home-8
    a.active i{
    color: #fff;
}
.resenas .col-lg-3
    img{
    width: 35px;
    margin-bottom: 1rem;
}
.resenas .col-lg-3
    p b{
    color: #fff;
}
.home-9{
    background: #ebe9f2;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.home-9 .box-video{
    border-radius: 10px;
}
.home-9 .box-video
    p{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.home-10{
    padding-top: 6rem;
    padding-bottom: 6rem;
    background: linear-gradient(180deg, #513369 0%, #000000 100%);

}
.home-10
    p{
    color: #2D082E;
}
.home-10
    h1{
    color: #8562A0}
.horarios{
    position: relative;   
}
.horarios .texto{
    position: absolute;
    bottom: 10px;
    font-family: 'Satoshi-Bold';
    left: 15px;
    width: 90%;
}
.horarios .texto
    p{
    font-size: 1.2rem;
}
.home-11{
    background: #2D082E;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.home-11
    ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    text-align: center;
}
.home-11
    ul li:first-child{
     border-left: 1px solid #fff;
}
.home-11
    ul li{
    border-right: 1px solid #fff;
    padding: 1rem 3rem;
    list-style: none;
    display: inline-block;
}
.home-11
    ul li p{
    margin-bottom: 0;
    color: var(--yellow);
    text-align: center;
}
.home-11
    ul li h3{
    color: var(--white);
}
.home-10
    a{
    font-family: 'Claston';
    border-radius: 15px;
    padding-top: 15px;
    position: relative;
    padding-bottom: 15px;
    border: 0px;
    line-height: 1;
    text-align: left;
    min-width: 200px;
    width: 100%;
}
.home-10
    a .fa-arrow-up{
    top: 17px}
.home-10
    a.btn-dark{
    color: #513369;
    font-weight: 100;
}
.home-10 .info-horario{
    background: #fff;
    padding: 1rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*Styles Scheduler View*/
.scheduler-head{
    background: #fff;
}
.navbar-nav .nav-item{
    margin-left: 3rem;
    border-bottom: 2px solid #fff;
}
.navbar-nav .nav-item a{
    font-family: 'Satoshi-Regular';
    font-weight: 400;
    color: #666666;
    padding-bottom: 1.5rem;
    transition: all .3s;
}
.navbar-nav .nav-item.active a{
    font-family: 'Satoshi-Bold';
    color: #2D082E!important;
    padding-bottom: 1.5rem;
    border-bottom: 3px solid #2D082E;
}
.navbar-nav .nav-item:hover a{
    font-family: 'Satoshi-Bold';
    color: #2D082E!important;
    padding-bottom: 1.5rem;
    border-bottom: 3px solid #2D082E;
}
.navbar-nav .nav-item a{
    font-family: 'Satoshi-Regular';
    font-weight: 400;
    color: #666666;
}

.scheduler-1{
    background-color: #ebe9f2;
    background-image: url(../img/create-account-back.svg);
    background-size: cover;
    padding-top: 150px;
    
}
.scheduler-1 .row{
  
}
.scheduler-1 img{
    max-width: 500px;
}
